body.isLightMode {
	background-color: lightgray;
    color: black;
}

body.isDarkMode {
	background-color: rgb(0, 0, 0);
    color: rgb(201, 201, 201);
}

.isLightMode #MainContainer {
	background-color: white;
}

.isDarkMode #MainContainer {
	background-color: rgb(28, 28, 28);
}

.isLightMode #MainTitle {
	color: lightgray;
}

.isDarkMode #MainTitle {
	color: rgb(67, 67, 67);
}

.isLightMode a,
.isLightMode a:visited {
	color: #004cff;
}

.isDarkMode a,
.isDarkMode a:visited {
	color: #759fff;
}




/*
	Tables
*/

.isLightMode tr.odd {
	background-color: rgb(245,245,245);
}
.isLightMode tr.even {
	background-color: rgb(230,230,230);
}
.isLightMode tr.header {
	background-color: black;
	color: white;
}

.isDarkMode tr.odd {
	background-color: rgb(60, 60, 60);
}
.isDarkMode tr.even {
	background-color: rgb(72, 72, 72);
}
.isDarkMode tr.header {
	color: white;
	background-color: rgb(100, 100, 100);
}

