body {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 10pt;
	line-height: 150%;
	background-color: lightgray;
	padding: 0px;
	margin: 0;
}

#MainContainer {
	max-width: 700px;
	padding: 2rem;
	margin: 0 auto;
}

#MainTitle {
	color: lightgray;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	letter-spacing: 0.1rem;
	margin-bottom: 5rem;
}

#refs>div {
	padding-left: calc(2vw + 2rem);
	text-indent: calc(-2vw - 2rem);
}

h1 {
	margin-top: 5rem;
	line-height: 100%;
}

a,
a:visited {
	color: #004cff;
}

figure > img {
	max-width: 100%;
}

table th, td {
	padding: 0.5rem;
}

tr.odd {
	background-color: rgb(245,245,245);
}

tr.even {
	background-color: rgb(230,230,230);
}

tr.header {
	background-color: black;
	color: white;
}

#L3_buttons {
	position: fixed;
	top: 0;
	right: 0;
}
