<!DOCTYPE html>
<html>

<head>
	<title>Paper Preview</title>
	<link rel="icon" type="image/png" href="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhJJREFUeNqkU01LG1EUvfPey5BARmpLSEkh2kV3gh8/Ibjowm6KtL+h/0J0kT9Q6roL6SpduSgWoUZ3biJIwTRgcBNSZVQy08l8vem5TyfYdlUycLk3791z7jk3M1aWZTTNI2jKR73Z2HiFXPtP3H6apr00SUihePZpc3MbmdiMhiXOKXKMs1hrU+dWO50Ofdzbe4fSQvwQYLEyNGk0MyNHEseU3kc0HlPg++R5Ho1GI5NbW1vb6FsFwQuRJIkQlkVCCDL5QRSkpGKhQLZSpHBv4cx1XXq/s0OrCwsfvp+cvFWYJlgLA8ACD/oPs0wyeaCu0WgYO47j0O7x8e0dAcBXl5fU7XYpCALTMNlHvhMQJ7ApoKg2N2cIGKviewXdszOq1+tUKhYhQv+zdibiQbfYw2mvR/X5eYoNQRQZBR4uJCwMBgMDiOOExrzAYAzlWG5KZk+VSoVCqJTAMHaigJt4w9fXN+T98s3vLLfA04Wisj1LUZSZPfFucgXybmKMiSH5fogc0Ov1dQPkPbClz60WPXJqOJOkQV6AGsaqG9e1c4Iw1KRUCbVr7DABv+saNb9oAiq0tgyhDQWMFVcXFz9nFhebXw8O+kLYVC7P0H673Z9dWmo+Xl5uPkFUVlaa3w4P+zyIwe2jo/5TnDGW7ZcQTrVaXcOU59wkpTwfDodfHv4LuH/51/0uypE17ef8W4ABAMxVVTYONic4AAAAAElFTkSuQmCC" />
