</head>

<body class="isLightMode" onload="setDarkModeAccordingToBrowser()">
	<div id="MainContainer">
		<div id="L3_buttons">
			<button id="btn_hideLevel3" onclick='$("#MainContainer>ul:first-of-type>li>ul>li>ul>li").slideUp();'>Hide L3</button>
			<button id="btn_showLevel3" onclick='$("#MainContainer>ul:first-of-type>li>ul>li>ul>li").slideDown();'>Show L3</button>
			<button id="btn_toggleDarkLight" onclick='toggleDarkMode()'>Toggle Dark</button>
		</div>
		<div id="MainTitle">PAPER PREVIEW</div>
